@font-face {
font-family: "PT Sans";
font-style: normal;
font-weight: 400;
src: url("../fonts/ptsans-400.woff2") format("woff2");
font-display: swap;
}


@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ptsans-400-italic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/ptsans-700-italic.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}
body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
  color: #000000;
  margin: 0;

}
.container {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  flex-grow: 1;
  margin: 0 auto;
  width: 1200px;
  box-shadow: 0 25px 25px 0 rgba(0, 0, 0, 0.3);
}

/* стили для класса visually-hidden*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* стили для header главной страницы*/

.page-header {
  background-color: #FFFFFF;
}
.navigation {
  display: flex;
  padding-left: 70px;
  padding-right: 70px;
}
.logo {
  object-fit: contain;
  margin-bottom: -6px;
}
.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-width: 400px;
  align-items: center;

}
.navigation-user {
  margin-left: auto;
  max-width: 300px;
}
.navigation-link {
  display: block;
  padding: 20px 16px;
  line-height: 24px;
  font-size: 20px;
  color: inherit;
  background-color: inherit;
  text-decoration: none;
  font-weight: 700;
  position: relative;
}
.header-logo:focus {
  box-shadow: 0 3px 3px 3px rgba(104, 162, 202, 1);
  border-radius: 6px;
}
.header-logo:focus-visible {
  outline: none;
 box-shadow: 0 3px 3px 3px rgba(104, 162, 202, 1);
 border-radius: 6px;
}
.header-logo:focus,
.header-logo:hover {
  opacity: 0.7;
}
.header-logo:active {
  opacity: 0.3;
}
.navigation-item a:focus-visible {
  outline: none;
  box-shadow: 0 3px 3px 3px rgba(104, 162, 202, 1);
  border-radius: 6px;
}
.navigation-item a:hover,
.navigation-item a:focus {
  opacity: 0.7;
}
.navigation-item a:focus {
  box-shadow: 0 3px 3px 3px rgba(104, 162, 202, 1);
  border-radius: 6px;
}
.navigation-item a:active {
  opacity: 0.3;
}
.navigation-home-current::before {
  position: absolute;
  right: 16px;
  bottom: -5px;
  left: 16px;
  background-color: rgba(117, 98, 87, 1);
  content: "";
  height: 2px;
}
.navigation-link-current::before {
  position: absolute;
  right: 16px;
  bottom: -5px;
  left: 16px;
  background-color: rgba(117, 98, 87, 1);
  content: "";
  height: 2px;
}
.navigation-user .navigation-link {
  min-width: 44px;
  min-height: 64px;
  padding: 0;
}

/*.navigation-user .navigation-link svg {
  position: absolute;
  margin-top: 24px;
  margin-left: 12px;
  fill: #000000;
}*/


.navigation-user .navigation-item:nth-child(1) .navigation-link {
  background-image: url("../images/vector/icon-search.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.navigation-user .navigation-item:nth-child(2) .navigation-link {
  background-image: url("../images/vector/icon-heart.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.favorites {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  margin-top: 11px;
  margin-left: 20px;
  line-height: 10px;
  font-size: 10px;
  color: rgba(255, 255, 255, 1);
  background-color: #7DB54F;
  border-radius: 50%;
}
 .button-navigation-link {
  padding: 8px 34px;
  margin-left: 20px;
}
.button {
  display: inline-block;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(117, 97, 87, 1);
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.button:focus-visible {
  outline: 3px solid rgba(104, 162, 202, 1);
  border-radius: 4px;
}
.button:hover,
.button:focus {
  background-color: rgba(97, 80, 72, 1);
}
/*.button:focus {
  box-shadow: 0 2px 2px 2px rgba(104, 162, 202, 0.7);
}*/
.button:active {
  opacity: 0.3;
}
.button:disabled {
  background-color: rgba(229, 229, 229, 1);
}
.button-blue {
  background-color: rgba(130, 179, 211, 1);
}
.button-blue:focus-visible {
  outline: 3px solid rgba(117, 97, 87, 1);
  border-radius: 4px;
}
.button-blue:hover,
.button-blue:focus {
  background-color:rgba(104, 162, 202, 1) ;
}
.button-green {
  background-color: rgba(125, 181, 79, 1);
}
.button-green:hover,
.button-green:focus {
 background-color: rgba(108,158, 66, 1)
}
.button-filter-brown:hover{
  opacity: 60%;
  background-color: transparent;
}
.button-filter-brown:focus {
  outline: 3px solid rgba(131, 179, 211, 1);
  background-color: transparent;
}
.button-filter-brown:active {
   opacity: 0.3;
}


/*стили для секции hero*/

.hero {
  background-color: rgba(81, 177, 241, 0.2);
  color: #756157;
  background-image: url("../images/vector/icon-hero.svg"), url("../images/picture/hero-welcome.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: 100% auto, 100% auto;
  background-position: bottom center, center;
  text-align: center;

}
.welcome {
 padding-top: 51px;
 padding-bottom: 82px;
}
/*стили для секции advantages*/
.advantages {
  padding-top: 69px;
  text-align: center;
}
.about-description {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}
.advantages-reasons-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-bottom: 90px;
}
.advantages-list {
  display: grid;
  width: 1200px;
  grid-template-columns: repeat(3, 400px);
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.advantages-item-town,
.advantages-item-square {
  grid-column: 1/2;
}
.photo-sedona-house {
  grid-column: 2/4;
}
.photo-sedona-bridge {
  grid-column: 1/3;
}
.advantages-item-way {
  grid-column:2/3;
}
.advantages-item-choice,
.advantages-item-bridge {
  grid-column: 3/4;
}
.advantages-item {
  padding-top: 92px;
  padding-left:  85px;
  padding-right: 85px;
  padding-bottom: 111px;
}
.advantages-item-town,
.advantages-item-bridge {
  background-color: rgba(130, 179, 211, 1);
  color: #FFFFFF;
}
.advantages-item-square,
.advantages-item-choice {
  background-color: rgba(131, 179, 211, 0.12);
}
.advantages-item-way {
  background-color: rgba(131, 179, 211, 0.2);
}
.photo-sedona-house img,
.photo-sedona-bridge img{
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: rgba(131, 179, 211, 0.2);
  color: #FFFFFF;
}

.advantages-title {
  position: relative;
 font-size: 24px;
 line-height: 28px;
 text-transform: uppercase;
 font-weight: 700;
 margin: 0;
 padding: 0;
 margin-bottom: 62px;
}
.advantages-title::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  bottom: -31px;
  left: 50%;
  transform: translateX(-50%);
}
.advantages-item-town .advantages-title::before,
.advantages-item-bridge .advantages-title::before {
  background-color: #FFFFFF;
}
.advantages-description{
  margin: 0;
  padding: 0;
}
/*стили для секции servies*/

.servies-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.servies-item {
  width: calc(100%/3);
}
.servies-list .house {
  background-image: url("../images/vector/icon-house.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: center top 80px;
  min-width: 75px;
  min-height: 72px;
  padding-top: 80px;
}
.servies-list .food {
  background-image: url("../images/vector/icon-food.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: center top 81px;
  min-width: 74px;
  min-height: 70px;
  padding-top: 81px;
}
.servies-list .souvenirs {
  background-image: url("../images/vector/icon-souvenirs.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: center top 78px;
  min-width: 64px;
  min-height: 76px;
  padding-top: 78px;
}
.servies-list .house,
.servies-list .souvenirs {
  background-color: rgba(131, 179, 211, 0.12);
}
.servies-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 102px 0 30px;
  padding: 0;
}
.servies-description {
  margin: 0;
  padding: 0 85px 81px;
}
/*стили для секции search-hotel*/

.search-hotel {
  text-align: center;
  padding: 96px 70px;
}
.search-hotel-interest-description {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
.search-hotel-description {
  margin: 0;
  padding: 0;
  margin-bottom: 54px;
}
.search-button {
  padding: 0;
  margin: 0;
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
}
/*стили для секции subscribe главной страницы*/

.subscribe {
  background-color: #756157;
  color: #FFFFFF;
  background-image: url("../images/picture/subscribe-index.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  text-align: center;
  padding: 96px 70px 104px;
}
.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
.subscribe-description {
  margin: 0;
  padding: 0;
  margin-bottom: 54px;
}

/*стили для формы "ПОДПИСАТЬСЯ"*/

.subscribe-form {
  display: grid;
  grid-template-columns: 1fr auto;
  box-sizing: border-box;
  align-content: center;
  padding: 0 188px;
}
.subscribe-form input {
  grid-column: 1/2;
  background-color: #F2F2F2;
  border: none;
  border-radius: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  margin: 0;
  padding: 14px 0 14px 20px;
}
.subscribe-form button {
  grid-column: 2/3;
  background-color: #82B3D3;
  border: none;
  border-radius: 0;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  margin: 0;
  padding: 8px 50px;
}

/*стили для page-footer главной страницы*/

.page-footer {
  width: 100%;
  margin: 0 auto;
  background-color: #FFFFFF;
}
.footer-contacts {
  display: flex;
  justify-content: space-between;
  padding: 45px 70px 35px;
}
.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer-social-item{
  /*position: relative;*/
  /*width: 48px;
  height: 40px;*/
  /*margin-right: 28px;*/
}
/*.footer-social-item:nth-child(3n) {
  margin-right: 0;
}*/
.button-social {
  display: flex;
  width: 48px;
  height: 40px;
  align-items: center;
  justify-content: center;
}
.footer-social-icon {
  /*position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;*/
  min-width: 24px;
  right: 17px;
  fill: rgba(131, 179, 211, 1);
}
.footer-social-item .button-social:focus-visible  {
  outline: none;
  box-shadow: 0 3px 3px 3px rgba(104, 162, 202, 1);
  border-radius: 4px;
}

.button-social svg:hover,
.button-social svg:focus {
  fill: rgba(104, 162, 202, 1);
}
.button-social svg:active {
  fill: rgba(104, 162, 202, 0.3);
}
a[href^="tel:"] {
  font-size: 40px;
  line-height: 40px;
  color: rgba(0, 0, 0, 1);
  text-decoration-line: none;
  width: 350px;
}
a[href^="tel:"]:focus-visible {
  outline: none;
  box-shadow: 0 3px 3px 3px rgba(104, 162, 202, 1);
  border-radius: 4px;
}
a[href^="tel:"]:hover,
a[href^="tel:"]:focus {
  color: rgba(117, 97, 87, 1);
}
a[href^="tel:"]:active {
  color: rgba(117, 97, 87, 0.3);
}
.logo-html svg {
  fill: #000000;
}
.logo-html:focus-visible {
  outline: none;
  box-shadow: 0 3px 3px 3px rgba(104, 162, 202, 1);
  border-radius: 4px;
  fill: rgba(117, 97, 87, 1);
}

.logo-html svg:hover,
.logo-html svg:focus {
 fill: rgba(117, 97, 87, 1);
}
.logo-html svg:active {
  fill: rgba(117, 97, 87, 0.3);
}
/*модальное окно*/

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgba(242, 242, 242, 0.8);
}
.modal-container-close {
  display: none;
}
.modal {
  position: relative;
  margin:  auto;
  padding:  64px 70px;
  background-color: #FFFFFF;
  border: none;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  max-width: 717px;
}
.modal-quest {
  max-width: 717px;
}
.modal-close-button {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.modal-quest .modal-close-button::before,
.modal-quest .modal-close-button::after {
  position: absolute;
  top: 24px;
  left: 20px;
  width: 14px;
  height: 2px;
  background-color: #000000;
  content: "";
}
.modal-quest .modal-close-button::before {
  transform: rotate(45deg);
}
.modal-quest .modal-close-button::after {
  transform: rotate(-45deg);
}
.modal-close-button:hover,
.modal-close-button:focus,
.modal-close-button:active {
  background-color: #E6E6E6;
}
.modal-close-button:focus {
  outline: 3px solid rgba(131, 179, 211, 1);
}
.modal-close-button:active {
  opacity: 20%;
}
.modal-content {
  /*padding-left: 70px;
  padding-right: 70px;
  padding-top: 64px;*/
}
.modal-title {
  margin: 0;
  margin-bottom: 64px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}
.field-group {
 margin: 0;
 padding: 0;
 font-size: 20px;
 line-height:24px;
 font-weight: 700;
}
.validity,
.invalidity {
  margin: 0;
  padding: 0;
  padding-left: 157px;
  display: block;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
  margin-bottom: 23px;
  margin-top: 20px;
}
.invalidity {
  color: rgba(255, 87, 87, 1);
}
.field {
  /*max-width: 440px;*/
  /*padding: 12px 20px;*/
  border-radius: 4px;
  min-height: 48px;
  background-color:#F2F2F2;
  margin-top: -8px;
}
.field::placeholder{
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  padding-left: 20px;
}
.quest-form-date {
  position: relative;
}
.quest-form-date .field-open,
.quest-form-date .field-close{
  position: absolute;
  padding: 0;
  top: 0;
  right: 0;
  width: 16px;
  height: 15px;
  background-image: url("../images/vector/icon-quest.svg");
  background-repeat: no-repeat;
  background-position: 402px center;
  cursor: pointer;
  background-color: #F2F2F2;
  opacity: 0.3;
}
/*.quest-form .field-group {
  margin: 0;
  /*margin-bottom:23px;
}*/
.quest-form-user-option {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}
.quest-form .field {
 width: 440px;
}
.quest-button {
  display: block;
  box-sizing: border-box;
  width: 577px;
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 20px;
  line-height: 24px;
  border-radius: 10px;
  background-color: rgba(131, 179, 211, 1);
}
.button-minus,
.button-plus {
  display: block;
  box-sizing: border-box;
  background-color: rgba(242, 242, 242, 1);
  width: 40px;
  padding-top: 17px;
  padding-bottom: 17px;
}
.button-minus:focus-visible,
.button-plus:focus-visible {
  outline: none;
  border: 3px solid rgba(130, 179, 211, 1);
  border-radius: 4px;
}
.button-minus:hover,
.button-plus:hover {
  background-color: #E5E5E5;
}
.button-minus:focus,
.button-plus:focus {
  background-color: #E5E5E5;
  border: 3px solid rgba(130, 179, 211, 1);
  border-radius: 4px;
}
.button-minus:active,
.button-plus:active {
 background-color: #E5E5E5;
  opacity: 20%;
}
.plus-minus {
  display: block;
  margin: 0;
  padding: 0;
  width: 31px;
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: center;
  background-color: rgba(242, 242, 242, 1);
  border: none;
  font-family: inherit;
}
.plus-minus::placeholder {
  color:#000000;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}
.user-option {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}
.quest-form-user-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.quest-form-button {
  display: flex;
  position: relative;
  min-height: 48px;
}
.quest-form-button .button-minus::before {
  position: absolute;
  top:23px;
  left: 12px;
  width: 14px;
  height: 2px;
  background-color: rgba(117, 97, 87, 0.3);
  content: "";
}
.quest-form-button .button-plus::before,
.quest-form-button .button-plus::after {
  position: absolute;
  top: 23px;
  left: 84px;
  width: 14px;
  height: 2px;
  background-color: rgba(117, 97, 87, 0.3);
  content: "";
}
.quest-form-button .button-plus::before {
  transform: rotate(90deg);
}
.quest-form-button:hover .button-minus::before,
.quest-form-button:hover .button-plus::before,
.quest-form-button:hover .button-plus::after,
.quest-form-button:focus .button-minus::before,
.quest-form-button:focus .button-plus::before,
.quest-form-button:focus .button-plus::after {
  background-color: rgba(0, 0, 0, 1);
}
.user {
  margin: 0;
  padding: 0;
  margin-right: 46px;
}
.user-children {
  margin-right: 82px;
}


/*тултип*/

.tooltip {
  position: absolute;
  margin-top: -14px;
  margin-left: -73px;
  width: 256px;
  height: 143px;
}
.tooltip-toggle {
  border: none;
  background-color: #83B3D3;
  width: 26px;
  height: 26px;
  padding: 7px 12px;
  margin: 0;
  display: block;
  border-radius: 50%;
}
.tooltip-text {
  background-color: #333333;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: none;
  padding:15px 18px 18px 22px;
  border-radius: 10px;
  display: block;
  width: 216px;
  position: absolute;
  bottom: 100%;
  margin-bottom: 6px;
  left: 50%;
  transform: translateX(-95%) translateY(142%);
  z-index: 1;
  display: none;
}
.icon-tooltip {
  width: 100%;
  height: 100%;
  color: #FFFFFF;
  display: block;
}
.tooltip-toggle:hover .icon-tooltip {
  color: #7DB54F;
}
.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}
.tooltip-text:after {
  content:'';
  background-image: url("../images/vector/icon-tooltip-corner.svg");
  width: 19px;
  height: 9px;
  position:absolute;
  transform: rotate(360deg);
  bottom: 100%;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
}  /*уголок для тултипа*/


.main-inner {
  width: 100%;
  background-color: #FFFFFF;
  color:#000000;
}
.hotels-filter {
  background-color: #78b4e9;
  color: #FFFFFF;
  background-image: url("../images/picture/catalog-filter-inner.jpg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  margin-bottom: 50px;
  padding: 35px 70px 70px;
}
.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}
.breadcrumbs{
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  /*max-width: 200px;*/
  flex-wrap: wrap;
  margin-right: auto;
  margin-bottom: 40px;
  font-size: 16px;
  justify-content: start;
  align-items: center;
}
.breadcrumbs-item:nth-child(3n) {
  margin-right: 0;
}
.breadcrumbs-link {
  display: block;
  margin-right: 11px;
  min-width: 12px;
  min-height: 12px;
}
.breadcrumbs-item:nth-child(1) .breadcrumbs-link {
  background-image: url("../images/vector/icon-breadcrumbs-house.svg");
  background-repeat: no-repeat;
}
.breadcrumbs-item:nth-child(2n) {
  background-image: url("../images/vector/icon-breadcrumbs-array.svg");
  background-repeat: no-repeat;
 }

.breadcrumbs-link:focus-visible {
  outline: none;
  border: 3px solid  rgba(131, 179, 211, 1);
  border-radius: 3px;
}
.breadcrumbs-link:focus {
  color: rgba(255, 255, 255, 1);
}
.breadcrumbs-link:hover {
  opacity: 0.6;
}
.breadcrumbs-link:active {
  opacity: 0.3;
}


.catalog-filter{
  display: flex;
  flex-wrap: wrap;
}
.catalog-filter-type {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 70px;
}
.catalog-filter-selection {
  display: flex;
  flex-wrap: wrap;
  margin-left:  auto;
  justify-content: space-between;
  gap: 70px;
}
.catalog-filter-group {
  padding: 0;
  margin: 0;
  border: none;
}
.catalog-filter-list{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 32px;
}
.catalog-filter-item {
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}
.catalog-filter-item:nth-last-child() {
  margin-bottom: 0;
}
.control {
  position: relative;
  display: block;
  padding-left: 16px;
  cursor: pointer;
}
.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border: none;
  background-color: #FFFFFF;
  border-radius: 4px;
}
.control-input {
  opacity: 0;
}
.control-input:hover + .control-mark,
.control-input:hover + .control-mark + .control-label {
  opacity: 60%;
}
.control-input:focus + .control-mark  {
  outline: 3px solid rgba(131, 179, 211, 1);
}
.control-input:active + .control-mark,
.control-input:active + .control-mark + .control-label {
  opacity: 30%;
}
.control-input:disabled + .control-mark {
  color: rgba(63, 94, 114, 1);
}
/*.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: 7px;
  left: 2px;
  width: 12px;
  height: 2px;
  background-color: #3F5E72;
  content: "";
}
.control-input[type="checkbox"]:checked + .control-mark::before {
  transform: rotate(45deg);
}
.control-input[type="checkbox"]:checked + .control-mark::after {
  transform: rotate(-45deg);
}  это крестик в чекбоксе*/
.control-input[type="checkbox"]:checked + .control-mark::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 6px;
  width: 4px;
  height: 10px;
  border-right: 3px solid rgba(63, 94, 114, 1);
  border-bottom: 3px solid rgba(63, 94, 114, 1);
  transform: rotate(45deg);
}
.control-label {
  font-weight: 700;
  line-height: 22px;
}
.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}
.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
  transform: translate(-50%, -50%);
}

.range-scale {
  position: relative;
  height: 4px;
  margin-top: 48px;
  border-radius: 2px;
  background-color: #3F5E72;
}
.range-bar {
  position: absolute;
  height: 4px;
  background-color: #F2F2F2;
}
.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.range-toggle:focus-visible {
  outline: none;
  box-shadow: 0 2px 2px 2px rgba(104, 162, 202, 1);
}
.range-toggle:hover,
.range-toggle:focus {
 box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}
.range-toggle:focus {
  border: 3px solid rgba(131, 179, 211, 1);
}
.range-toggle:active {
  box-shadow: 0px 7px 15px 0 rgba(0, 0, 0, 0.4);
}
.toggle-min {
  top: -8px;
  left: -10px;
}
.toggle-max {
  top: -8px;
  right:-10px;
}
.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
.input-filter {
  display: flex;
  max-width: 288px;

}
.catalog-filter-label {
  display: flex;
}
.range-input {
  max-width: 74px;
  height: 48px;
  padding: 0;
  padding-left: 70px;
  margin: 0;
  font: inherit;
  font-weight: 700;
  background-color: #F2F2F2;
  border: none;
  appearance: textfield;
}
.range-input:focus-visible {
  outline: 0 2px 2px 2px rgba(104, 162, 202, 1);
}
.range-input:hover {
  background-color: rgba(230, 230, 230, 1);
}
.range-input:focus {
  outline: 3px solid rgba(131, 179, 211, 1);
}
.range-input:active {
  outline: 2px solid rgba(0, 0, 0, 1);
}
.range-input-min {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-right: 2px solid #000000;
}
.range-input-max {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.catalog-filter-label {
  position: relative;
}
.filter-text {
  display: block;
  position: absolute;
  font-weight: 700;
  font-size: 18px;
  top: 12px;
  left: 20px;
  width: 41px;
  height: 24px;
  color: #000000;
}
.range-input-min[type="number"]::placeholder {
  width: 17px;
  padding-left: 17px;
  padding-top: 12px;
  opacity: 30%;
}
.range-input-max[type="number"]::placeholder {
  width: 20px;
  padding-left: 20px;
  padding-top: 12px;
  opacity: 30%;
}
/*.range-input-min[type="number"] + .filter-text::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 24px;
  top: 12px;
  left: 10px;
  color: rgba(0, 0, 0, 1);
  opacity: 30%;
}
.range-input-max[type="number"] + .filter-text::before {
  position: absolute;
  content: "";
  top: 12px;
  left: 103px;
  width: 18px;
  height: 24px;
  color: rgba(0, 0, 0, 1);
  opacity: 30%;
}*/




/*.number-first,
.number-second {
  margin: 0;
  padding: 12px 20px;
  font: inherit;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
}*/

/*.number:hover{
  border-color
  outline
}
.number:focus{

}
.number:disabled,
.number:disabled:hover {

}
.number:invalid {

}
.number:focus:invalid {

}
.number::placeholder {
  color;
  opacity /*у текста меняем цвет и прозрачность
}*/
.filter-button {
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 32px;
  box-sizing: border-box;
  padding-top: 56px;
}
.button-filter-blue {
  padding: 8px 50px;
}
.button-filter-brown {
  padding: 8px 58px;
  background-color: transparent;
}
.control-input {
  line-height: 23px;
}
.search-hotel-inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 61px;

  /*margin-left: auto;*/
}
.search-result-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-right: 200px;
  padding: 0;
}
.select {
  position: relative;
  display: flex;
  align-items: center;
  width: 292px;
  margin-right: auto;
}
.select-control {
  width: 100%;
  padding: 14px 20px;
  padding-right: 48px; /*резервируем место*/
  line-height: 21px;
  font-size: 18px;
  border: 2px solid rgba(230, 230, 230, 1);
  color: #333333;
  border-radius: 4px;
  background-image: url(../images/vector/icon-select.svg);    /*стрелка*/
  background-repeat: no-repeat;
  background-position: right 21px center;
  appearance: none;
}

.select-control:hover,
.select-control:focus {
  border: 2px solid rgba(104, 162, 202, 1);
  color: #333333;
}
.select-control:active{
  border: 2px solid rgba(63, 94, 114, 1)
}
.select-control:disabled {
  border: 2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}
.list-button {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 1);
  align-items: center;
}
.card:not(:last-child) {
  margin-right: 8px;
}
.card-grid-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
}
.card-grid-toggle {
  border: 2px solid rgba(229, 229, 229, 1);
  border-radius: 4px;
}
.card-grid-toggle-current {
  border: 2px solid rgba(0, 0, 0, 1);
}
.card-grid-toggle:hover {
  border: 2px solid rgba(104, 162, 202, 1);
}
.card-grid-toggle:focus,
.card-grid-toggle:active {
  border: 2px solid rgba(0, 0, 0, 1);
}



/* стили для карточек выбора гостиниц */
.hotel-card {
  max-width: 1060px;
  padding: 0 70px 60px;
  margin: 0 auto;
}
.hotel-list {
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin-bottom: 40px;
  list-style-type: none;
}

.hotel-item {
  display: grid;
  max-width: 300px;
  grid-template-columns: 140px 140px;
  grid-template-rows: 1fr min-content min-content auto;
  column-gap: 20px;
  row-gap: 16px;
  border: 1px solid rgba(230, 230, 230, 1);
  border-radius: 4px;
  padding: 20px;
}

.hotel-card-link {
  grid-column: 1/-1;
  font-size: 24px;
  line-height: 28px;
  color: inherit;
  background: inherit;
  text-decoration: none;
  font-weight: 700;
}
.hotel-card-link:focus-visible {
  outline: none;
  box-shadow: 0 3px 3px 3px rgba(130, 179, 211, 1);
  border-radius: 4px;
}
.hotel-card-link:hover {
  color: rgba(117, 97, 87, 0.3);
}
.hotel-card-link:focus {
  box-shadow: 0 3px 3px 3px rgba(130, 179, 211, 1);
  border-radius: 4px;
  color: rgba(117, 97, 87, 1);
}
.hotel-card-link:active {
  opacity: 0.3;
}
.hotel-card-image  {
  display: block;
  object-fit: cover;
  margin: 0;
  background-color: rgba(130, 179, 211, 1);
  color: #FFFFFF;
  margin-bottom: 16px;
}
.hotel-card-title {
  margin: 0;
  padding: 0;
}
.type-hotel{
  grid-column: 1/2;
}
.hotel-card-price {
  grid-column: 2/3;
  justify-self: right;
}
.hotel-card-button-brown {
  display: block;
  grid-column: 1/2;
  box-sizing: border-box;
  margin: 0;
  padding: 8px 26px;
}
.hotel-card-button-blue {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 8px 20px;
  grid-column: 2/3;
  background-color: rgba(130, 179, 211, 1);
}
.button-green {
  display: block;
  box-sizing: border-box;
  padding: 8px 18px;
  background-color: #7DB54F;
}
.stars {
  grid-column: 1/2;
  margin: 0;
  padding: 0;
}
.hotels-rating {
  grid-column: 2/3;
  background-color: #F2F2F2;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  padding: 8px 0;
}
.stars {
  margin-top: 8px;
  background-image: url("../images/vector/icon-star.svg");
  background-position: left;
}
.hotel-item:nth-child(1) .stars,
.hotel-item:nth-child(2) .stars{
  background-repeat:  space no-repeat;
  width: 86px;
}

.hotel-item:nth-child(3) .stars {
  background-repeat: space no-repeat;
  width: 66px;
}
 .hotel-item:nth-child(4) .stars {
  background-repeat: space no-repeat;
  width: 46px;
}


/* стили для пагинатора*/


.pagination-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
  border-top: 1px solid rgba(230, 230, 230, 1);
}
.pagination-item:not(:last-child) {
  margin-right: 8px;
}
.pagination-link {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 60px;
  height: 60px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  background-color:rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  text-decoration: none;
  padding: 12px 23px;
}
.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}
.pagination-next {
  background-color: #FFFFFF;
  color: #000000;
}
.pagination-link:hover,
.pagination-link:focus {
  background-color: rgba(104, 162, 202, 1);
  outline: 1px solid rgba(130, 179, 211, 1);
}
.pagination-link:active {
  opacity: 0.3;
}
.pagination-current:hover,
.pagination-current:focus {
  background-color: #F2F2F2;
  color: rgba(0, 0, 0, 1);
}
.pagination-next:hover,
.pagination-next:focus {
  background-color: #FFFFFF;
  color: rgba(0, 0, 0, 1);
}

/*стили для .subscribe-inner*/

.subscribe-inner {
  color: #000000;
  background-size: 100% auto;
  text-align: center;
  padding: 96px 70px 104px;
}
.subscribe-title-inner {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
.subscribe-description-inner {
  margin: 0;
  padding: 0;
  color: #333333;
  margin-bottom: 54px;
}







