@font-face {
font-family: "PT Sans";
font-style: normal;
font-weight: 400;
src: url("../fonts/ptsans-400.woff2") format("woff2");
font-display: swap;
}


@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
  color: #000000;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.main-container {
  flex-grow: 1;
  margin: 0 auto;
  width: 1200px;
}

/* стили для класса visually-hidden*/
/*.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}*/
.visually-hidden {
  display: none;
  visibility: hidden;
}
.page-header {
  color:#000000;
  background-color: #FFFFFF;
}
.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}
.logo {
  margin-left: 70px;
}
.navigation-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 400px;
  margin-left: 44px;
}
.navigation-item{
  width: 130px;
}
.navigation-user {
  max-width: 350px;
  margin-left: auto;
}
.navigation-link {
  line-height: 24px;
  font-size: 20px;
  color: inherit;
  background-color: inherit;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
}
/*.icon-search {
  background-image: url("../images/vector/icon-search.svg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: right;
}*/

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}
.hero {
  background-color: #F2F2F2;
  color: #000000;
  background-image: url("../images/vector/icon-hero.svg"), url("../images/picture/hero-welcome.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: 100% auto, 100% auto;
  background-position: bottom center, center;
  text-align: center;
}
  .about-title {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}
.advantages-reasons {
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}
.advantages-list {
  display: grid;
  width: 1200px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat (3, auto);
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.advantages-item-town {
  grid-column: 1/2;
  grid-row: 1/2;
  display: inline;
}
.photo-sedona-house {
  grid-column: 2/4;
  grid-row: 1/2;
}
.advantages-item-square {
  grid-column:1/2;
  grid-row: 2/3;
}
.advantages-item-way {
  grid-column:2/3;
  grid-row: 2/3;
}
.advantages-item-choice {
  grid-column: 3/4;
  grid-row: 2/3;
}
.advantages-item-bridge {
  grid-column: 3/4;
  grid-row: 3/4;
}
.photo-sedona-bridge {
  grid-column: 1/3;
  grid-row: 3/4;
}
.advantages-item {
  text-align: center;
  padding-top: 103px;
  padding-left:  85px;
  padding-right: 85px;
  padding-bottom: 121px;
}
.photo-sedona-house img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.photo-sedona-bridge img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.advantages-title {
 font-size: 24px;
 line-height: 28px;
 text-transform: uppercase;
 font-weight: 700;
}
.house {
  background-image: url("../images/vector/icon-house.svg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
}
.food {
  background-image: url("../images/vector/icon-food.svg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
}
.souvenirs {
  background-image: url("../images/vector/icon-souvenirs.svg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
}
.servies-list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.servies-item {
  width: 400px;
}
.servies-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 700;
}
.search-hotel {
  text-align: center;
}

.search-hotel-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.subscribe {
  background-color: #000000;
  color: #FFFFFF;
  background-image: url("../images/picture/subscribe-index.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  text-align: center;
}
.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.subscribe-button {

}
.field {
  width: 452px;
  background-color: #F2F2F2;
}
.subscribe-button {

  width: 232px;
  background-color: #82B3D3;
}
.footer-contacts {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  justify-content: space-between;
}
.footer-social-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  max-width: 200px;
}
.footer-social-item{
  width: 48px;
}
.phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration-line: none;
  width: 350px;
}
.hotel-filter {
  background-color: #000000;
  color: #FFFFFF;
  background-image: url("../images/picture/catalog-filter-inner.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.inner-header-title {
  font-size: 60px;
  line-height: 78px;
}
.hotels-sedona{
  padding-left: 70px;
}
.breadcrumbs{
  list-style-type: none;
  display: flex;
  width: 150px;
  margin: 0 auto;
  justify-content: space-between;
  margin-left: 70px;
  font-size: 16px;
}
.catalog-filter{
  display: flex;
  margin: 0 auto;
  width: 1060px;
  justify-content: space-between;

}
.catalog-filter-type {
  display: flex;

  justify-content: space-between;
  width: 371px;

  text-align: center;
}
.catalog-filter-selection {
  display: flex;
  margin-left:  auto;
  justify-content: space-between;
  width: 549px;
  align-items: center;
}

.catalog-filter-list{
  margin: o;
  padding: 0;
  list-style-type: none;
  text-align: left;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}
.button-filter-blue {
  background-color: #82B3D3;
  width: 191px;
}
.control-input {
  line-height: 23px;
}
.search-result-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.list-button {
  list-style-type: none;
}
.hotel-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}
.hotel-item {
  width: 340px;
}
.hotel-card-link {
  font-size: 24px;
  line-height: 28px;
  color: inherit;
  background: inherit;
  text-decoration: none;
  font-weight: 700;
}
.hotels-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.pagination-list {
  list-style-type: none;
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
  display: flex;
  max-width: 400px;
  justify-content: space-between;
}
.pagination-item {
  background-color: #82B3D3;
  width: 60px;
  text-align: center;
}
.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  text-decoration: none;
}
.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}
.pagination-next {
  background-color: #FFFFFF;
  color: #000000;
}

.subscribe-inner {
  text-align: center;
  background-color: #FFFFFF;
  background-size: 100% auto;
}
.subscribe-description-inner {
  color: #333333;
}




