@font-face {
font-family: "PT Sans";
font-style: normal;
font-weight: 400;
src: url("../fonts/ptsans-400.woff2") format("woff2");
font-display: swap;
}


@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ptsans-400-italic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/ptsans-700-italic.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}
body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
  color: #000000;
  margin: 0;
}
.container {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  flex-grow: 1;
  margin: 0 auto;
  width: 1200px;
}

/* стили для класса visually-hidden*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* стили для header главной страницы*/

.page-header {
  background-color: #FFFFFF;
}
.navigation {
  display: flex;
  padding-left: 70px;
  padding-right: 70px;
}
.logo {
  object-fit: contain;
  margin-bottom: -6px;
}
.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-width: 400px;
}
.navigation-user {
  margin-left: auto;
  max-width: 280px;
}
.navigation-link {
  display: block;
  padding: 20px 16px;
  line-height: 24px;
  font-size: 20px;
  color: inherit;
  background-color: inherit;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  position: relative;
}
.navigation-home-current::before {
  position: absolute;
  right: 16px;
  bottom: -6px;
  left: 16px;
  background-color: rgba(117, 98, 87, 1);
  content: "";
  height: 2px;
}
.navigation-link-current::before {
  position: absolute;
  right: 16px;
  bottom: -6px;
  left: 16px;
  background-color: rgba(117, 98, 87, 1);
  content: "";
  height: 2px;
}

.navigation-user .navigation-link {
  min-height: 20px;
}
.navigation-user .navigation-item:nth-child(1) .navigation-link {
  background-image: url("../images/vector/icon-search.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.navigation-user .navigation-item:nth-child(2) .navigation-link {
  background-image: url("../images/vector/icon-heart.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.total {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  margin-top: -11px;
  margin-left: 20px;
  line-height: 10px;
  font-size: 10px;
  color: #FFFFFF;
  background-color: #7DB54F;
  border-radius: 50%;
}
.button {
  display: inline-block;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: rgba(97, 80, 72, 1);
}
.button:active {
  background-color: rgba(117, 97, 87, 1);
  color: rgba(255, 255, 255, 0.3);
}
.button:disabled {
  background-color: rgba(229, 229, 229, 1);
}
.button-blue:hover,
.button-blue:focus {
  background-color:rgba(104, 162, 202, 1) ;
}
.button-blue:active {
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 0.3);
}
.button-green:hover,
.button-green:focus {
 background-color: rgba(108,158, 66, 1)
}
.button-green:active {
  background-color: rgba(125, 181, 79, 1);
  color: rgba(255, 255, 255, 0.3);
}
.button-filter-brown:hover{
  opacity: 60%;
}
.button-filter-brown:focus {
  border: 3px solid rgba(131, 179, 211, 1);
}
.button-filter-brown:active {
   color: rgba(255, 255, 255, 0.3);
}

.navigation-item .button{
  display: block;
  box-sizing: border-box;
  padding: 8px 34px;
  margin-top: 14px;
}
/*стили для секции hero*/

.hero {
  background-color: rgba(81, 177, 241, 0.2);
  color: #756157;
  background-image: url("../images/vector/icon-hero.svg"), url("../images/picture/hero-welcome.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: 100% auto, 100% auto;
  background-position: bottom center, center;
  text-align: center;

}
.welcome {
 padding-top: 51px;
 padding-bottom: 82px;
}
/*стили для секции advantages*/
.advantages {
  padding-top: 69px;
  text-align: center;
}
.about-description {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}
.advantages-reasons-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-bottom: 90px;
}
.advantages-list {
  display: grid;
  width: 1200px;
  grid-template-columns: repeat(3, 400px);
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}
.advantages-item-town,
.advantages-item-square {
  grid-column: 1/2;
}
.photo-sedona-house {
  grid-column: 2/4;
}
.photo-sedona-bridge {
  grid-column: 1/3;
}
.advantages-item-way {
  grid-column:2/3;
}
.advantages-item-choice,
.advantages-item-bridge {
  grid-column: 3/4;
}
.advantages-item {
  padding-top: 92px;
  padding-left:  85px;
  padding-right: 85px;
  padding-bottom: 111px;
}
.advantages-item-town, .advantages-item-bridge {
  background-color: rgba(130, 179, 211, 1);
  color: #FFFFFF;
}
.advantages-item-square, .advantages-item-choice {
  background-color: rgba(131, 179, 211, 0.12);
}
.advantages-item-way {
  background-color: rgba(131, 179, 211, 0.2);
}
.photo-sedona-house img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: rgba(131, 179, 211, 0.2);
  color: #FFFFFF;
}
.photo-sedona-bridge img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: rgba(131, 179, 211, 0.2);
  color: #FFFFFF;
}
.advantages-title {
  position: relative;
 font-size: 24px;
 line-height: 28px;
 text-transform: uppercase;
 font-weight: 700;
 margin: 0;
 padding: 0;
 margin-bottom: 62px;
}
.advantages-title::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  bottom: -32px;
  left: 50%;
  margin-left: -30px;
}
.advantages-item-town .advantages-title::before,
.advantages-item-bridge .advantages-title::before {
  background-color: #FFFFFF;
}
.advantages-description{
  margin: 0;
  padding: 0;
}
/*стили для секции servies*/

.servies-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.servies-item {
  width: calc(100%/3);
}
.servies-list .house {
  background-image: url("../images/vector/icon-house.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: center top 80px;
  min-width: 75px;
  min-height: 72px;
  padding-top: 80px;
}
.servies-list .food {
  background-image: url("../images/vector/icon-food.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: center top 81px;
  min-width: 74px;
  min-height: 70px;
  padding-top: 81px;
}
.servies-list .souvenirs {
  background-image: url("../images/vector/icon-souvenirs.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: center top 78px;
  min-width: 64px;
  min-height: 76px;
  padding-top: 78px;
}
.servies-list .house,
.servies-list .souvenirs {
  background-color: rgba(131, 179, 211, 0.12);
}
.servies-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  margin-top: 102px;
}
.servies-description {
  margin: 0;
  padding: 0;
  padding-bottom: 81px;
  padding-left: 85px;
  padding-right: 85px;
}
/*стили для секции search-hotel*/

.search-hotel {
  text-align: center;
  padding-top: 96px;
  padding-bottom: 96px;
}
.search-hotel-interest-description {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
.search-hotel-description {
  margin: 0;
  padding: 0;
  margin-bottom: 54px;
}
.search-button {
  padding: 0;
  margin: 0;
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
}
/*стили для секции subscribe главной страницы*/

.subscribe {
  background-color: #756157;
  color: #FFFFFF;
  background-image: url("../images/picture/subscribe-index.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  text-align: center;
  padding-top: 96px;
  padding-bottom: 104px;
  padding-right: 258px;
  padding-left: 258px;
}
.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
.subscribe-description {
  margin: 0;
  padding: 0;
  margin-bottom: 54px;
}

/*стили для формы "ПОДПИСАТЬСЯ"*/

.subscribe-form {
  display: grid;
  grid-template-columns: 1fr auto;
  box-sizing: border-box;
}
.subscribe-form input {
  grid-column: 1/2;
  background-color: #F2F2F2;
  border: none;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  margin: 0;
  padding: 0;
  padding-top: 14px;
  padding-bottom:  20px;
  padding-left: 20px;
}
.subscribe-form button {
  grid-column: 2/3;
  background-color: #82B3D3;
  border: none;
  border-radius: 0;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  margin: 0;
  padding: 8px 50px 8px 50px;
}

/*стили для page-footer* главной страницы*/

.page-footer {
  width: 100%;
  margin: 0 auto;
  background-color: #FFFFFF;
}
.footer-contacts {
  display: flex;
  padding-right: 70px;
  padding-left: 70px;
  justify-content: space-between;
  padding-top: 45px;
  padding-bottom: 35px;
}
.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer-social-item{
  /*position: relative;*/
  /*width: 48px;
  height: 40px;*/
  /*margin-right: 28px;*/
}
/*.footer-social-item:nth-child(3n) {
  margin-right: 0;
}*/
.button-social {
  display: flex;
  width: 48px;
  height: 40px;
  align-items: center;
  justify-content: center;
}
.footer-social-icon {
  /*position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;*/
  min-width: 24px;
  right: 17px;
  fill: rgba(131, 179, 211, 1)
}
.footer-social-icon:hover,
.footer-social-icon:focus {
  fill: rgba(104, 162, 202, 1)
}
.footer-social-icon:active {
  fill: rgba(104, 162, 202, 0.3)
}
.phone {
  font-size: 40px;
  line-height: 40px;
  color: rgba(0, 0, 0, 1);
  text-decoration-line: none;
  width: 350px;
}
.phone:hover,
.phone:focus {
  color: rgba(117, 97, 87, 1);
}
.phone:active {
  color: rgba(117, 97, 87, 0.3);
}
.html-logo {
  fill: #000000;
}
.html-logo:hover,
.html-logo:focus {
 fill: rgba(117, 97, 87, 1);
}
.html-logo:active {
  fill: rgba(117, 97, 87, 0.3)
}
/*.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.modal {
  position: relative;
  margin: auto;
  padding: 40px;
  background-color: #FFFFFF;
}
.modal-auth {
  width: 717px
}
.modal-close-button {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 0;
  right: 0;
  width: 52px;
  height: 52px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 50%;
  background-image: url();
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.modal-title {
  margin: 0;
  margin-bottom: ;

}
.auth-form .field-group {
  margin: 0;
  margin-bottom: ;
}*/

.main-inner {
  width: 100%;
  background-color: #FFFFFF;
  color:#000000;
}
.hotels-filter {
  background-color: #78b4e9;
  color: #FFFFFF;
  background-image: url("../images/picture/catalog-filter-inner.jpg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  margin-bottom: 50px;
  padding-top: 35px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 70px;
}
.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}
.breadcrumbs{
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  max-width: 200px;
  flex-wrap: wrap;
  margin-right: auto;
  margin-bottom: 40px;
  font-size: 16px;
  justify-content: start;
  align-items: center;
}
.breadcrumbs-item:nth-child(3n) {
  margin-right: 0;
}
.breadcrumbs-link {
  display: block;
  margin-right: 11px;
  min-width: 12px;
  min-height: 12px;
}

.hotels-filter .breadcrumbs-item:nth-child(1) .breadcrumbs-link {
  background-image: url("../images/vector/icon-breadcrumbs-house.svg");
  background-repeat: no-repeat;
}
.hotels-filter .breadcrumbs-item:nth-child(2) .breadcrumbs-link {
  background-image: url("../images/vector/icon-breadcrumbs-array.svg");
  background-repeat: no-repeat;
}
.breadcrumbs:focus {
  color: rgba(255, 255, 255, 1);
}
.breadcrumbs:hover {
  color: rgba(255, 255, 255, 0.6);
}
.breadcrumbs:active {
  color: rgba(255, 255, 255, 0.3);
}
.catalog-filter{
  display: flex;
  flex-wrap: wrap;
}
.catalog-filter-type {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 70px;
}
.catalog-filter-selection {
  display: flex;
  flex-wrap: wrap;
  margin-left:  auto;
  justify-content: space-between;
  gap: 70px;
}
.catalog-filter-group {
  padding: 0;
  margin: 0;
  border: none;
}
.catalog-filter-list{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 32px;
}
.catalog-filter-item {
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}
.catalog-filter-item:nth-last-child() {
  margin-bottom: 0;
}
.control {
  position: relative;
  display: block;
  padding-left: 20px;
  cursor: pointer;
}
.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border: none;
  background-color: #FFFFFF;
  border-radius: 4px;
}
.control-input {
  opacity: 0;
}

.control:hover .control-mark {
  border-color: #7DB54F;
}
.control-input:disabled+ .control-mark {
  border-color: #756157;
}
/*.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: 7px;
  left: 2px;
  width: 12px;
  height: 2px;
  background-color: #3F5E72;
  content: "";
}
.control-input[type="checkbox"]:checked + .control-mark::before {
  transform: rotate(45deg);
}
.control-input[type="checkbox"]:checked + .control-mark::after {
  transform: rotate(-45deg);
}  это крестик в чекбоксе*/
.control-input[type="checkbox"]:checked + .control-mark::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 6px;
  width: 4px;
  height: 10px;
  border-right: 3px solid rgba(63, 94, 114, 1);
  border-bottom: 3px solid rgba(63, 94, 114, 1);
  transform: rotate(45deg);
}
.control-label {
  font-weight: 700;
  line-height: 22px;
}
.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}
.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
  transform: translate(-50%, -50%);
}

.range-scale {
  position: relative;
  height: 4px;
  margin-top: 48px;
  border-radius: 2px;
  background-color: #3F5E72;
}
.range-bar {
  position: absolute;
  height: 4px;
  background-color: #F2F2F2;
}
.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
}
.range-toggle:hover {

}
.range-toggle:active,
.range-toggle:focus {
  outline: 3px solid #000000;
}
.toggle-min {
  top: -8px;
  left: -10px;
}
.toggle-max {
  top: -8px;
  right:-10px;
}
.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
.input-filter {
  display: flex;

}
.catalog-filter-label {
  display: flex;
}
.range-input {
  width: 143px;
  height: 48px;
  padding: 0 2px;
  font: inherit;
  text-align: start;
  font-weight: 700;
  background-color: #FFFFFF;
  border: none;
  appearance: textfield;
}
.range-input-min {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-right: 2px solid #000000;
}
.range-input-max {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}


/*.number-first,
.number-second {
  margin: 0;
  padding: 12px 20px;
  font: inherit;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
}*/

/*.number:hover{
  border-color
  outline
}
.number:focus{

}
.number:disabled,
.number:disabled:hover {

}
.number:invalid {

}
.number:focus:invalid {

}
.number::placeholder {
  color;
  opacity /*у текста меняем цвет и прозрачность
}*/
.filter-button {
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 32px;
  box-sizing: border-box;
  padding-top: 56px;
}

.button-filter-blue {
  background-color: #82B3D3;
  padding: 8px 50px;
}
.button-filter-brown {
  padding: 8px 58px;
  background-color: transparent;
  margin-left: 20px;
}
.control-input {
  line-height: 23px;
}
.search-hotel-inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 61px;

  /*margin-left: auto;*/
}
.search-result-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-right: 200px;
  padding: 0;
}
.select {
  position: relative;
  display: flex;
  align-items: center;
  width: 292px;
  margin-right: auto;
}
.select-control {
  width: 100%;
  padding: 14px 20px;
  padding-right: 48px; /*резервируем место*/
  line-height: 21px;
  font-size: 18px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background-image: url(../images/vector/icon-select.svg);    /*стрелка*/
  background-repeat: no-repeat;
  background-position: right 21px center;
  appearance: none;
}

.select-control:hover,
.select-control:focus {
  border: 2px solid rgba(104, 162, 202, 1) ;
}
.select-control:active{
  border: 2px solid rgba(63, 94, 114, 1)
}
.list-button {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 1);
  align-items: center;
}
.card:not(:last-child) {
  margin-right: 8px;
}
.card-grid-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
}
.card-grid-toggle {
  border: 2px solid rgba(229, 229, 229, 1);
  border-radius: 4px;
}
.card-grid-toggle-current {
  border: 2px solid rgba(0, 0, 0, 1);
}
.card-grid-toggle:hover {
  border: 2px solid rgba(104, 162, 202, 1);
}
.card-grid-toggle:focus,
.card-grid-toggle:active {
  border: 2px solid rgba(0, 0, 0, 1);
}



/* стили для карточек выбора гостиниц */
.hotel-card {
  max-width: 1060px;
  padding-bottom: 60px;
  padding-left: 70px;
  padding-right: 70px;
}
.hotel-list {
  display: grid;
  list-style-type: none;
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin-bottom: 80px;
}
.hotel-item {
  border: 1px solid rgba(230, 230, 230, 1);
  border-radius: 4px;
}
.hotel-content {
  width: 300px;
  display: grid;
  grid-template-columns: repeat(2);
  column-gap: 20px;
  /*row-gap: 16px;*/
  margin-left: 20px;
}
.type-hotel{
  grid-column: 1/2;
}
.button-hotel-card {
  margin-bottom: 16px;
  box-sizing: border-box;
  grid-column: 1/3;
}
.stars {
  grid-column: 1/2;
  margin: 0;
  padding: 0;
}
.hotel-card-price {
  grid-column: 2/3;
  justify-self: end;
}
.hotels-rating {
  grid-column: 2/3;
  background-color: #F2F2F2;
  border-radius: 4px;
}
.button-brown {
  padding: 8px 26px;
}
.button-blue {
  padding: 8px 20px;
  background-color: #82B3D3;
  margin-left: 16px;
}
.button-green {
  padding: 8px 18px;
  background-color: #7DB54F;
  margin-left: 15px;
}
.hotel-item {
  padding-top: 20px;
  padding-bottom: 20px;
}
.type-hotel,.hotel-card-price {
  margin-bottom: 16px;
}
.hotel-card-title{
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
  padding-left: 20px;
}
.hotel-card-image {
  margin-bottom: 16px;
  background-color: rgba(130, 179, 211, 1);
  color: #FFFFFF;
}
.hotel-card-link {
  font-size: 24px;
  line-height: 28px;
  color: inherit;
  background: inherit;
  text-decoration: none;
  font-weight: 700;
  padding-left: 20px;
}
  .stars {
  margin-top: 8px;
  background-image: url("../images/vector/icon-star.svg");
  background-position: start;
}
 .hotel-list .hotel-item:nth-child(1) .stars,
 .hotel-list .hotel-item:nth-child(2) .stars{
  background-repeat:  space no-repeat;
  width: 78px;
}

 .hotel-list .hotel-item:nth-child(3) .stars {
  background-repeat: space no-repeat;
  width: 62px;
}
  .hotel-list .hotel-item:nth-child(4) .stars {
  background-repeat: space no-repeat;
  width: 42px;
}
.hotels-rating {
  width: 140px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 60px;
}

/* стили для пагинатора*/


.pagination-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}
.pagination-link {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 60px;
  height: 60px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  text-decoration: none;
  padding: 12px 23px;
}
.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}
.pagination-next {
  background-color: #FFFFFF;
  color: #000000;
}
.pagination-link:hover,
.pagination-link:focus {
  background-color: rgba(130, 179, 202, 1);
}
.pagination-link:active {
  color: rgba(255, 255, 255, 0.3)
}
.pagination-current:hover,
.pagination-current:focus {
  background-color: #F2F2F2;
  color: rgba(0, 0, 0, 1);
}
.pagination-next:hover,
.pagination-next:focus {
  background-color: #FFFFFF;
  color: rgba(0, 0, 0, 1);
}

/*стили для .subscribe-inner*/

.subscribe-inner {
  color: #000000;
  background-size: 100% auto;
  text-align: center;
  padding-top: 96px;
  padding-bottom: 104px;
  padding-right: 258px;
  padding-left: 258px;
}
.subscribe-title-inner {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
.subscribe-description-inner {
  margin: 0;
  padding: 0;
  color: #333333;
  margin-bottom: 54px;
}







